[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"dbt-snowflake" = "1.9.*"
elementary-data = "0.16.1"

[dev-packages]
shandy-sqlfmt = {extras = ["jinjafmt"], version = "*"}
sqlfluff-templater-dbt = "*"


[requires]
python_version = "3.12"

